.btn{
    background-color: rgb(222, 84, 84);
    color: #ffffff;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s ease;
}

.btn:hover{
    background-color: rgb(141, 28, 28);
    transition: all .5s ease;
}

.btn.orange{
    background-color: #d3a60a;
}

.btn.orange:hover{
    background-color: black;
}
