@import url("reset.css");
@import url("grid.css");
@import url("buttons.css");
@import url("icons.css");
@import url("tipography.css");

body{
    color: rgb(31, 31, 31);
}

/*HEADER*/
#header{
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-top: 30px;
    width: 100%;
    height: 660px;
    position: relative;
}

#header a{
    color: #ffffff;
}

#header nav{
    text-align: right;
}

#header nav ul, #header nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#header nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

#header nav a:hover, #header nav a.active{
    background-color: rgb(222, 84, 84);
}

#header .title{
    position: absolute;
    left: 0;
    top: 25%;
    transform: translate(0, -25%);
    text-align: center;
}

#header h1{
    font-size: 54px;
    text-shadow: 2px 2px 8px black;
}

/*PRODUTOS*/
#produtos, #clientes, #equipe{
    text-align: center;
    padding: 30px 0 30px 0;
}

/*CLIENTES*/
#clientes{
    background-color: rgb(242, 242, 242);
}

#clientes .btn{
    margin-top: 80px;
}

#clientes .btn .material-icons{
    vertical-align: middle;
    font-size: 16px;
}

#clientes .container{
    max-width: 1000px;
}

